<h1>Home page </h1><a href = "../profile/"><button >visit your profile</button></a>

<h2>{{ user.user_name }}</h2>
<h2>posts</h2>
{% for p in list %}
	

	<div><h3>date</h3><p>{{p.body}}</p><div>likes</div><div>commments</div></div>
{% endfor%}


	<div><ul>
{%for friendship in suggestionList %}


<li><a href="../addfriend/{{user.Email}}/{{friendship.user1.Email}}"><button>addFriend</button></a><h2>{{friendship.user1.user_name}}</h2><li>
<li><a href="../addfriend/{{user.Email}}/{{friendship.user2.Email}}"><button>addFriend</button></a><h2>{{friendship.user2.user_name}}</h2><li>

{%endfor%}
<ul></div>

	<div><h2>recomended groups</h2><ul><li>groupname<li><ul></div>


