<form action = "../processing/" method = "post">{% csrf_token %}
	<label>Email</label><input type = "text" name = "email" placeholder = "example@mail.com">
	
	<label>User Name</label><input type = "text" name = "name" >
	<label>PassWord</label><input type = "text" name = "password" placeholder = "Enter your password">
	<label>age</label><input type = "text" name = "age" >
	<label>workPlace</label><input type = "text" name = "organization" >
	<label>birthDate</label><input type = "text" name = "birth_date" >
	<label>phone num</label><input type = "text" name = "phone_num" >
	<input type = "submit" name = "" value = "sig up">
</form>
